@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 반응형 폰트 크기 기본 설정 */
  font-size: 16px;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

/* 큰 모니터 */
@media (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

/* 노트북 */
@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}

/* 태블릿 */
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

/* 모바일 */
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
